#!/usr/bin/make -f
# -*- makefile -*-

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_build:
	mkdir -p ebin
	cp src/mysql_client.app.src ebin/mysql_client.app
	erlc -I include -o ebin src/*.erl

# Implement staged installation
DESTDIR = debian/erlang-erlmysql
DEV_DESTDIR = debian/erlang-erlmysql-dev
VERSION = 1.2.8
ERL_APP_DIR = /usr/lib/erlang/lib/erlmysql-$(VERSION)
override_dh_install:
	install -m 755 -d $(DESTDIR)$(ERL_APP_DIR)/ebin
	install -m 644 ebin/*.app ebin/*.beam \
	    $(DESTDIR)$(ERL_APP_DIR)/ebin
	install -m 755 -d $(DEV_DESTDIR)$(ERL_APP_DIR)/include
	install -m 644 \
	    include/client_records.hrl \
	    include/mysql_types.hrl \
	    $(DEV_DESTDIR)$(ERL_APP_DIR)/include
